{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Best Kitchens</h1>
          <p class="lead text-muted">Hungry? Just order some delicious food from the best kitchens in your area..!! beat the hunger with us !!</p>
          <p>
            <a href="{%url 'customer:kitchens' %}" class="btn btn-primary my-2">Kitchens</a>
            <a href="#" class="btn btn-secondary my-2">Tiffins</a>
          </p>
        </div>
      </section>
      {% for kitchen in kitchens %}
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{kitchen.photo1.url}}" data-holder-rendered="true">
                <div class="card-body">
                    <p class="card-text"><strong>{{kitchen.name}}</strong> <br> <i>{{kitchen.address}}</i></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">BreakFast</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Lunch</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Dinner</button>
                        </div>
                        <small class="text-muted">RATINGS: {{kitchen.rating}}</small>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </main>

{% endblock content %}

